# Example environment variables for G2Labs Astro site
PUBLIC_HEROTOFU_ENDPOINT=https://public.herotofu.com/v1/ef0559c0-402c-11f1-8331-ab60025aa368
# Set your Google Analytics tag (G-XXXXXXXXXX)
PUBLIC_GOOGLE_ANALYTICS_ID=
